#container {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  background-color: cornsilk;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#menu > ul {
  background-color: #1f2327;
  padding: 15px;
  margin: 0px;
  list-style-type: none;
}
#menu > ul > li {
  display: inline-block;
}
#menu > ul > li > a {
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 15px;
  font-family: sans-serif;
  font-size: small;
  border-radius: 5px;
  transition: background-color 0.6s;
  box-shadow: 5px 0 10px black;
}
#menu > ul > li > a:hover {
  background-color: burlywood;
  padding-right: 22px;
  transition: padding-right 0.5s;
  font-weight: bold;
}
#menu > ul > li > a:active {
  background-color: beige;
}
H1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#content {
  margin: 10px;
  font-family: sans-serif;
}
#img {
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
  align-content: center;
  margin-bottom: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.details {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  margin: 0%;
  padding: 0%;
}
#para {
  padding-left: 50px;
  width: 500px;
  text-align: justify;
  font-size: medium;
  padding: 5px;
  padding-left: 50px;
  display: inline-block;
  margin-top: 0;
}
.drop {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: none;
}
.drop > li > a {
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 0px;
  font-family: sans-serif;
  font-size: small;
  background-color: black;
  display: block;
}
.drop > li > a:hover {
  background-color: burlywood;
}
#menu > ul > li:hover .drop {
  display: block;
}
#design {
  width: 1000px;
  background-color: cornsilk;
  margin: 0px;
}
#picture {
  width: 200px;
  height: auto;
  margin-right: 0%;
}
#picture > .futo {
  margin-left: 5px;
  margin-right: 5px;
  border-top: 16px;
  border-radius: 50px;
  padding-top: 5px;
}
#picture > i {
  width: 400px;
  height: auto;
}
#picture > p {
  font-size: medium;
}
.clone {
  margin-top: 0px;
}
footer {
  margin-bottom: 50px;
  border: 50px;
}
#pic {
  border-width: 2px;
  border-style: solid;
  color: black;
  border-radius: 5px;
}
.arko {
  display: inline-block;
  text-align: justify;
  width: 400px;
  margin-left: 15px;
  vertical-align: top;
}
